<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .card{
            display: flex;
            position: sticky;
            margin-top: 560px;
        }
        .card p{
            text-align: center;
        }
        .card input{
            width: 300px;
            height: 60px;
            border-color: black;
        }
        .card input::placeholder{
            text-align: center;
            color: rgb(55, 86, 8);
        }
        .card button{
            height: 60px;
            background-color: orange;
            border-color: black;
        }
        .card-body p{
            color: white;
        }
    </style>
</head>
<body>
    <div class="card bg-dark">
        <div class="card-body">
            <p>All copyrights are reserved with @sunbird straws</p>
            <input type="text" placeholder="Email Address"> <button>Subscribe</button>
        </div>
      </div>
    
</body>
</html>